@using NewsSystem.Common
@model NewsSystem.ViewModels.NewsListViewModel
@using NewsSystem.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@{
    Layout = "_MainLayout";

    if (this.Model.CurrentPage != 1)
    {
        this.ViewData["Title"] = "Всички новини, страница " + this.Model.CurrentPage;
    }
    else
    {
        this.ViewData["Title"] = $"{GlobalConstants.SystemSlogan} ({this.Model.NewsCount})";
    }
}

@* @if (!string.IsNullOrWhiteSpace(this.Model.Search)) *@
@* { *@
@*     <h3>Търсене за "@this.Model.Search", страница @this.Model.CurrentPage, резултати @this.Model.NewsCount</h3> *@
@* } *@
@* *@
@* @if (this.User.Identity.IsAuthenticated) *@
@* { *@
@*     <form method="get" asp-controller="News" asp-action="List" asp-route-id="1"> *@
@*         <div class="input-group mb-4"> *@
@*             <input type="search" name="search" class="form-control" value="@this.Model.Search" placeholder="Въведете думи за търсене, разделени с интервал..." /> *@
@*             <div class="input-group-append"> *@
@*                 <input type="submit" value="Търси" class="btn btn-outline-secondary" /> *@
@*             </div> *@
@*         </div> *@
@*     </form> *@
@* } *@

<section id="last-news-list">
    @foreach (var news in this.Model.News)
    {
    <article class="last-news">
        <header>
            <div class="title">
                <h4><a href="@news.Url">@news.Title</a></h4>

            </div>
            <div class="meta">
                <time class="published" datetime="@news.CreatedOn.ToString("O")">@news.CreatedOn.ToString("dd/MM/yyyy HH:mm")</time>
                <a href="@news.Url" class="author" title=" @if (news.Author != null)
                                                       {
                                                           @news.SourceName;
                                                       }">
                    <span class="name">
                        @{
                            if (news.Author != null)
                            {
                                @news.GetSign();
                            }
                            else
                            {
                                @news.SourceShortName;
                            }
                        }
                    </span>
                </a>
            </div>
        </header>
        <a href="@news.Url" class="image"><img class="lozad" data-src="@news.ImageUrl" alt="@news.Title" /></a>
        <p> @news.ShortContent</p>
        <footer>
            <ul class="actions">
                <li>
                    <div class="btn-group">
                        <a href="@news.Url" class="button medium">Прочети още</a>
                        @* //TODO: IF NOT USER IS LOGGED EXCEPTION *@
                        @if (SignInManager.IsSignedIn(User))
                        {
                            if (this.User.IsInRole(GlobalConstants.EditorRoleName) || this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                            {
                                <button type="button" class="button medium" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-left: 1em; padding-right: 1em;">
                                    <i class="fa fa-arrow-down"></i>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="Administration" asp-controller="News" asp-action="TopNews" asp-route-id="@news.Id">ТОП Новина</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-area="Administration" asp-controller="News" asp-action="Udpate" asp-route-id="@news.Id">Редактирай</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-area="Administration" asp-controller="News" asp-action="SoftDelete" asp-route-id="@news.Id">Soft Изтриване</a>
                                </div>
                            }
                            else if (this.User.Identity.Name == (news.Author != null ? news.Author.UserName : null))
                            {
                                <button type="button" class="button medium" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-left: 1em; padding-right: 1em;">
                                    <i class="fa fa-arrow-down"></i>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="Administration" asp-controller="News" asp-action="Udpate" asp-route-id="@news.Id">Редактирай</a>
                                </div>
                            }
                        }
                    </div>
                </li>
            </ul>
            <ul class="stats">
                @* <li><a href="#">име категория</a></li> *@
                @* <li><a href="#" class="icon fa-heart">28</a></li> *@
                <li><a href="#" class="icon fa-comment">128</a></li>
                <li><a href="#" class="icon fa-image">9</a></li>
                <li><a href="#" class="icon fa-video">2</a></li>
            </ul>
        </footer>
    </article>    }
</section>
<!-- Pagination -->
<ul class="actions pagination">
    @if (this.Model.CurrentPage > 1)
    {
        <li>
            <a class="button large previous" asp-controller="News" asp-action="List" asp-route-id="@this.Model.PreviousPage" asp-route-search="@this.Model.Search">
                Предищна стр.
            </a>
        </li>
    }
    
    <li><a class="button large disabled" href="#"> @this.Model.CurrentPage / @this.Model.PagesCount </a></li>

    @if (this.Model.CurrentPage < this.Model.PagesCount)
    {
        <li class="page-item">
            <a class="button large next" asp-controller="News" asp-action="List" asp-route-id="@this.Model.NextPage" asp-route-search="@this.Model.Search" aria-label="Следваща">
                Следваща стр.
            </a>
        </li>
    }
</ul>