@using System.Globalization
@using NewsSystem.ViewModels
@model DashboardIndexViewModel
@using Microsoft.AspNetCore.Identity
@using NewsSystem.Common
@using NewsSystem.Data.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "OFFICE";
    Layout = "_DashboardLayout";
}

<style>
    .pokaji {
        border: 1px solid #000;
    }
</style>
<div class="row">


    <!--stats-->
    <div class="col-md-3">
        <!--WIDJETS-->
        <div class="row">

            <!--All Articles-->
            <div class="col-lg-12">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>@Model.AllPosts</h3>

                        <p>Публикации</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-folder-open-o"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        Виж всички <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <!--Published-->
            <div class="col-lg-12">
                <div class="info-box bg-green">
                    <span class="info-box-icon"><i class="fa fa-eye"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Публикувани</span>
                        <span class="info-box-number">@Model.PublishedPosts</span>

                        <div class="progress">
                            <div class="progress-bar" style="width: @Model.PublishedPostsAsPercentege%"></div>
                        </div>
                        <span class="progress-description">
                            @Model.PublishedPostsAsPercentege% от всички
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
        </div>
        <div class="row">
            <!--NOT Published-->
            <div class="col-lg-12">
                <div class="info-box bg-yellow">
                    <span class="info-box-icon"><i class="fa fa-eye-slash"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">НЕ Публикувани</span>
                        <span class="info-box-number">@Model.NotPublishedPosts</span>

                        <div class="progress">
                            <div class="progress-bar" style="width: @Model.NotPublishedPostsAsPercentege%"></div>
                        </div>
                        <span class="progress-description">
                            @Model.NotPublishedPostsAsPercentege% от всички
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
        </div>
        <div class="row">
            <!--Deleted-->
            <div class="col-lg-12">
                <div class="info-box bg-red">
                    <span class="info-box-icon"><i class="fa fa-trash"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Изтрити</span>
                        <span class="info-box-number">@this.Model.DeletedPosts</span>

                        <div class="progress">
                            <div class="progress-bar" style="width: @Model.DeletedPostsAsPercentege%"></div>
                        </div>
                        <span class="progress-description">
                            @Model.DeletedPostsAsPercentege% от всички
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="info-box">
                    <!-- Apply any bg-* class to to the icon to color it -->
                    <span class="info-box-icon bg-secondary"><i class="fa fa-user"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Users</span>
                        <span class="info-box-number">@Model.Authors.Count()</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="info-box">
                    <!-- Apply any bg-* class to to the icon to color it -->
                    <span class="info-box-icon bg-info"><i class="fa fa-cloud"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Sources</span>
                        <span class="info-box-number">@Model.Sources.Count()</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
        </div>
        @foreach (var user in Model.Authors)
        {
            <div class="row">
                <div class="col-lg-12">
                    <!-- Widget: user widget style 1 -->
                    <div class="box box-widget widget-user-2 ">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-gray">
                            <div class="widget-user-image">
                                <img class="img-circle" src="~/dashboard/img/avatars/iconfinder_User_Generic_1_1218733.png" alt="User Avatar">
                            </div>
                            <!-- /.widget-user-image -->
                            <h3 class="widget-user-username">@user.FirstName @user.LastName</h3>

                            @{ var roles = await UserManager.GetRolesAsync(user); }
                            @foreach (var role in roles)
                            {
                                <h5 class="widget-user-desc">
                                    @role
                                </h5>

                            }

                        </div>
                        <div class="box-footer no-padding">
                            <ul class="nav nav-stacked">
                                <li><a href="#">Всички <span class="pull-right badge bg-blue">@user.News.Count()</span></a></li>
                                <li><a href="#">Публикувани <span class="pull-right badge bg-green">@user.News.Where(n=>n.isPublished && n.IsDeleted==false).Count()</span></a></li>
                                <li><a href="#">Не публикувани <span class="pull-right badge bg-yellow">@user.News.Where(n => n.isPublished==false && n.IsDeleted == false).Count()</span></a></li>
                                <li><a href="#">Изтрити <span class="pull-right badge bg-red">@user.News.Where(n => n.IsDeleted == true).Count()</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.widget-user -->
                </div>
            </div>
        }
    </div>

    <div class="col-md-4">
        <!--Last posts  -->
        <div class="card rounded-0">
            <h3 class="card-header h5 rounded-0">
                Брой новини по ден от седмицата
            </h3>
            <div class="card-block">
                <ul class="list-group">
                    @foreach (var item in this.Model.Stats.NewsByDayOfWeek.OrderBy(x => ((int)x.Group + 6) % 7))
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            @(new CultureInfo("bg-BG").DateTimeFormat.GetDayName(item.Group))
                            <span class="badge badge-secondary badge-pill g-font-size-14">@item.Count</span>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="card rounded-0">
            <h3 class="card-header h5 rounded-0">
                Брой новини по месец
            </h3>
            <div class="card-block">
                <ul class="list-group">
                    @foreach (var item in this.Model.Stats.NewsByMonth.OrderBy(x => x.Group))
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            @(new CultureInfo("bg-BG").DateTimeFormat.GetMonthName(item.Group))
                            <span class="badge badge-secondary badge-pill g-font-size-14">@item.Count</span>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div id="sources-list" class="u-accordion" role="tablist" aria-multiselectable="true">
            @foreach (var source in this.Model.Sources)
            {
                <div class="card g-mb-5">
                    <div id="source-heading-@source.Id" class="u-accordion__header" role="tab">
                        <h5 class="mb-0">
                            <a class="collapsed d-flex u-link-v5 g-color-main g-color-primary--hover g-font-size-16" href="#source-body-@source.Id" data-toggle="collapse" data-parent="#sources-list" aria-expanded="false" aria-controls="#source-body-@source.Id">
                                @source.ShortName - (@source.NewsCount новини)
                            </a>
                        </h5>
                    </div>
                    <div id="source-body-@source.Id" class="collapse" role="tabpanel" aria-labelledby="accordion-06-heading-01" data-parent="#sources-list">
                        <div class="u-accordion__body g-color-gray-dark-v5 g-pa-0-20-20 text-justify">
                            @source.Description
                            <div class="float-right">
                                <a href="@source.Url" target="_blank">Към сайта...</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>